::ng-deep #gridContainer {
  height: 440px;
}
::ng-deep #descContainer  a {
  color: #f05b41;
  text-decoration: underline;
  cursor: pointer;
}
::ng-deep #descContainer  a:hover {
  text-decoration: none;
}
.left{
  float: left !important;
}
.right{
  float: right !important;
}
.inner{
  display: inline-block;
  width: 100%;
  margin: 15px 0px;
}
