<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12">
      <div class="mt-2">
        <dx-data-grid
          id="gridContainer2"
          [dataSource]="customers"
          [columns]="['CompanyName', 'City', 'State', 'Phone', 'Fax', 'Age']"
          [showBorders]="true"
          (onContextMenuPreparing)="addMenuItems($event)">>
        </dx-data-grid>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row mt-5">
    <div class="col-sm-12">
      <div class="mt-2"><a class="btn btn-info btn-sm" style="color:#fff;float: right !important"
                           onclick="window.location.reload()">refresh</a></div>
      <div class="mt-2">
        <dx-data-grid id="gridContainer"
                      [dataSource]="orders"
                      [allowColumnResizing]="true"
                      [allowColumnReordering]="true"
                      [showBorders]="true"
                      keyExpr="ID"
                      (onContextMenuPreparing)="addMenuItems($event)">>

          <dxo-selection mode="single"></dxo-selection>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-state-storing [enabled]="true" type="custom" storageKey="storage"
                             [customSave]="SaveState"></dxo-state-storing>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"></dxo-pager>

          <dxi-column dataField="OrderNumber" [width]="130" caption="Invoice Number"></dxi-column>
          <dxi-column dataField="OrderDate" sortOrder="desc" dataType="date"></dxi-column>
          <dxi-column dataField="SaleAmount" alignment="right" format="currency"></dxi-column>
          <dxi-column dataField="Employee"></dxi-column>
          <dxi-column dataField="CustomerStoreCity" caption="City"></dxi-column>
          <dxi-column dataField="CustomerStoreState" caption="State" [groupIndex]="0"></dxi-column>

        </dx-data-grid>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
